:root {
    --yellow-light: #FFE17F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.header-container {
    position: relative;
    margin-top: 40px;
    margin-right: 140px;
    margin-left: 140px;
    max-width: 1160px;
    width: 100%;
    height: 300px;
    background-color: var(--yellow-light);
    padding: 0 60px;
}

.logo {
    position: absolute;
    margin-top: -22px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input-login {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 43px;
}

.search-input-login input {
    border: 1px solid #000 ;
    height: 39px;
    max-width: 307px;
    width: 100%;
    background-color: var(--yellow-light);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: url("/img/search-icon.png") no-repeat left;
    background-position-x: 15px;
    padding-left: 46px;
    font-size: 16px;
}

.search-input-login button {
    background-color: var(--yellow-light);
    border: 1px solid #000;
    height: 41px;
    max-width: 160px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -2px;
    font-size: 16px;
}

.login {
    font-size: 18px;
    margin-top: 3px;
    margin-left: 30px;
}

.login span {
    margin-left: 5px;
}

.compare-cart {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.compare-cart span {
    font-size: 18px;
}


.compare {
    display: flex;
    align-items: center;
}

.compare img {
    margin: 12px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    margin: 12px;
}

.second-line {
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-circle {
    display: flex;
    margin-top: 41px;
}

.catalog-circle img {
    margin-left: 15px;
    margin-top: -13px;
}

.delivery-garanty-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.delivery-garanty-contacts h2 {
    margin-left: 45px;
}

.slider-info {
    margin-left: 140px;
    margin-right: 140px;
    position: absolute;
    display: flex;
    max-width: 1160px;
    width: 100%;
    top: 190px;
}

.slider {
    position: relative;
    display: flex;
}

.arrows {
    display: flex;
    position: absolute;
    top: 210px;
    left: 30px;

}

.slider .arrows:last-child {
    transform: rotate(180deg);
    right: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 125px;
    margin-left: 40px;
}

.info h1 {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 800;
}

.dots img:nth-child(n+1) {
    margin-right: 20px;
}
.dots img:last-child {
    margin-right: 0;
}

.info p {
    margin-top: 29px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
}

.about-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
}

.about {
    width: 220px;
    margin-right: 264px;
}

.about span {
    display: flex;
    padding-left: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: var(--yellow-light);
    height: 8px;
} 

.dots {
    display: flex;
    flex-wrap: nowrap;
}

.characteristics {
    margin-top: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.characteristics .characteristics-item {
    text-align: left;
    margin-right: 20px;
}

.characteristics .characteristics-item h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 15px;
}

.characteristics .characteristics-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
